.wrapper {
  display: flex;
  margin: 0 50px;
  flex-wrap: wrap;
}
.book {
  width: 400px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.book p {
  text-align: center;
  color: grey;
}
img {
  background-color: red;
  width: 150px;
  height: 200px;
}
.outline-btn {
  background-color: white;
  cursor: pointer;
  width: 150px;
}
.mini-update {
  border: 1px solid darkcyan;
  color: darkcyan;
}
.mini-delete {
  color: red;
  border: 1px solid red;
  margin-bottom: 10px;
}
.add-new-btn {
  width: 100px;
  height: 30px;
  margin: 0 auto;
  color: white;
  background-color: darkcyan;
  border: none;
  cursor: pointer;
}
.add-new-btn:hover {
  transition-duration: 0.5s;
  background-color: cadetblue;
}

/*
Form
*/
.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0 auto;
  width: 300px;
}
.form input {
  height: 30px;
}
input:focus {
  outline-color: cadetblue;
}
textarea:focus {
  outline-color: cadetblue;
}
.form textarea {
  height: 100px;
}
.submit {
  width: 300px;
}
h1 {
  text-align: center;
}
